/* Use your own code or past solution for Great Idea Web Page CSS here! */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

.tabletOnly{
  display: none;
}
nav {
	margin-top: 75px;
	margin-bottom: 75px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
nav a{
	/* margin: 32px; */
	text-decoration: none;
	color: grey;
}

.container {
	max-width: 900px;
	margin: auto;
}
.logoHalf {
	display: flex;
	justify-content: space-around;
}
.innovation {
	text-align: center;
	font-size: 70px;
}
section {
	padding: 25px 5px;
}
.articles {
	display: flex;
}
.center{
	text-align: center;
}
button {
	font-size: 20px;
	border: 2px solid black;
	padding: 10px 50px;
}
.contact {
	width: 150px;
	padding: 25px 0px;
}
nav a:hover {
	color: black;
}
button:hover {
	background-color: grey;
}
.box {
	background-color: lightgrey;
	border: 1px solid black;
	width: 430px;
	margin: 20px 0px;
	padding: 15px;
}
.serviceList {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}
.smallButton {
	font-size: 12px;
	border: 1px solid black
	padding: 5px 20px;
	border-radius: 5px;
	margin-top: 15px;
}
.between {
	margin: 25px 0px;
	display: flex;
	justify-content: space-between;
}
.half {
	width: 425px;
}
p {
	font-family: 'Roboto', sans-serif;
}
@media(max-width: 875px) {
  .desktopOnly {
    display: none;
  }
  .tabletOnly {
    display: block;
  }
  .container {
    max-width: 750px;
  }
  .logo {
    display: block;
    margin: 0 auto;
  }
  .middle-img {
    max-width: 750px;
  }
  nav .tabletOnly {
    display: flex;
    align-items: space-around;
  }
}
